# Puerto donde se ejecutará el servidor
PORT=3000

# Host - usar 0.0.0.0 para permitir conexiones desde cualquier dispositivo
HOST=0.0.0.0

# Configuración de MySQL
DB_HOST=54.175.70.20
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=pesito

# API Key para Google Gemini (opcional)
# GEMINI_API_KEY=tu_api_key_aqui 
